
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  background: url(./images/fontpkmn.jpg);
  background-size: contain;
  color: white;
}

h1,h2,p{
  font-family: 'Press Start 2P', cursive;
}

p {
  font-weight: bold;
}

p:hover{
  color: #FC7987;
  font-size: 20px;
}

.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section{
  padding: 30px;
  border-radius: 50px;
  height: 60vh;
  background: rgba(0, 0, 0, 0.429);
}



img{
  width: 200px;
}

.newpkmn{
  animation: newpkmn 1s;
  color: white;
}

@keyframes newpkmn{
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 0.3;}
  75%{opacity: 0.6;}
  100%{opacity: 1;}
}

.oldpkmn{
  animation: oldpkmn 1s;
  color: white;
}

@keyframes oldpkmn{
  0%{opacity: 1;}
  25%{opacity: 0.6;}
  50%{opacity: 0.3;}
  75%{opacity: 0;}
  100%{opacity: 0;}
}

h1{
  position: absolute;
  top: 30px;
  color: black;
  text-align: center;
  text-decoration: underline 3px black;
}

h2{
  text-align: center;
  text-decoration: underline 2px #FC7987;
}



button{
  position: absolute;
  bottom: 30px;
  border-radius: 50px;
  height: 40px;
  padding: 10px;
  background: none;
  color: rgba(255, 255, 255, 0.374);
  border:2px solid #FC7987;
}

button:hover{
  cursor: pointer;
  color: white;
}